
<div class="row mb-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Student Form</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" #fname>
                </div>

                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" #lname>
                </div>

                <div class="form-group">
                    <label for="email">Email ID</label>
                    <input type="text" class="form-control" id="email" #email>
                </div>

                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" id="contact" #contact>
                </div>

                <button type="submit" class="btn btn-outline-success btn-block" 
                (click)="onAddStd()">Add Student</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Student Information</h2>
        <table class="table table-bordered table-hover" *ngIf="stdArr.length > 0; else noStd">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdArr; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #noStd>
            <p class="alert alert-info">
                No Student Added Yet!!!!
            </p>
        </ng-template>
    </div>
</div>